@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-clr: #171717;
  --black-clr: #000000;
  --white-clr: #ffffff;
  --primary-clr: #f2f1ee;
  --secondary-clr: #d4b486;
  --sidebar-font-clr: #1d1d1d;

  --input-clr: #dfdcd4;
  --input-focus-clr: #d4b486;
  --input-label-clr: #1d1d1d;
  --input-text-clr: #555555;

  --order-sidebar-clr: #f7f7f7;
  --order-sidebar-scroll-clr: #c5c5c5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--font-clr);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  font-size: 14px;
}

.primary-btn {
  transition: 0.5s ease;
  background-color: var(--white-clr);
  color: var(--black-clr);
  border: 1px solid var(--black-clr);
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 600;
}

.checkout-btn {
  transition: 0.5s ease;
  background-color: var(--black-clr);
  color: var(--white-clr);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0px 15px;
  border: 1px solid var(--input-clr);
}

.primary-btn:hover {
  background-color: var(--black-clr);
  color: var(--white-clr);
}

.secondary-btn,
.sort-btn {
  transition: 0.5s ease;
  background-color: var(--primary-clr);
  color: var(--black-clr);
  border: 0;
  font-weight: 600;
}

.secondary-btn {
  padding: 15px 30px;
  text-transform: uppercase;
}

.secondary-btn:hover,
.sort-btn:hover,
.checkout-btn:hover {
  background-color: var(--secondary-clr);
  color: var(--white-clr);
}

.orders-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.orders-scrollbar-checkout::-webkit-scrollbar-thumb {
  background-color: var(--secondary-clr);
  border-radius: 1px;
}

.orders-scrollbar-order::-webkit-scrollbar-thumb {
  background-color: var(--order-sidebar-scroll-clr);
  border-radius: 1px;
}

.orders-scrollbar::-webkit-scrollbar-track {
  background-color: var(--primary-clr);
}

/* ... existing CSS ... */

.account-layout {
  display: flex;
  /* Ensure the layout is flex to allow side-by-side display */
}

.left-menu {
  width: 200px;
  /* Ensure the left menu has a defined width */
  background-color: var(
    --primary-clr
  ); /* Optional: Add a background color for visibility */
  /* Additional styling */
}

.content {
  flex-grow: 1;
  /* Ensure the content area grows to fill the remaining space */
  /* Additional styling */
}

/* ... existing CSS ... */
